Pre-Depends: cy+model.appletv
Depends: firmware (>= 10.0), mobilesubstrate
Maintainer: Diatrus
Provides: appsync
Package: us.diatr.appsyncunified
Name: AppSync Unified
Version: 32.0-3
Architecture: appletvos-arm64
Description: Enables the ability to install unsigned/fakesigned iOS applications.
Section: Tweaks
Author: Diatrus
